body {
  margin: 0;
}

#taskForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: blue;

  > input#inputTask {
    border: 1px solid lightgray;
    padding: 10px;
  }

  > button[type='submit'] {
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    transition: all 2s;
    &:hover {
      background-color: blue;
      color: white;
      border: 1px solid white;
    }
  }
}


#taskList {
  padding: 0;
  margin: 0;
  > li {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    position: relative;

    > input {
      padding: 10px;
      width: 90%;
      text-align: center;
      border: none;

      &.input-edit {
        border: 1px solid blue;
      }

      &:focus {
        outline: none;
      }
    }

    > button.task-delete {
      &:before {
        content: "\2717";
      }
    }
   > button.task-edit {
      &:before {
        content: "\270F";
      }
    }

    &:focus {
      background-color: #afafaf80;
    }

    &.checked {
      background-color: lightgray;

      > input {
        text-decoration: line-through;
      }

      &:before {
        content: '\2714';
        position: absolute;
        left: 10px;
        top: 9px;
      }
    }
  }
}