@charset "UTF-8";
body {
  margin: 0;
}

#taskForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: blue;
}
#taskForm > input#inputTask {
  border: 1px solid lightgray;
  padding: 10px;
}
#taskForm > button[type=submit] {
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  transition: all 2s;
}
#taskForm > button[type=submit]:hover {
  background-color: blue;
  color: white;
  border: 1px solid white;
}

#taskList {
  padding: 0;
  margin: 0;
}
#taskList > li {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  position: relative;
}
#taskList > li > input {
  padding: 10px;
  width: 90%;
  text-align: center;
  border: none;
}
#taskList > li > input.input-edit {
  border: 1px solid blue;
}
#taskList > li > input:focus {
  outline: none;
}
#taskList > li > button.task-delete:before {
  content: "✗";
}
#taskList > li > button.task-edit:before {
  content: "✏";
}
#taskList > li:focus {
  background-color: #afafaf80;
}
#taskList > li.checked {
  background-color: lightgray;
}
#taskList > li.checked > input {
  text-decoration: line-through;
}
#taskList > li.checked:before {
  content: "✔";
  position: absolute;
  left: 10px;
  top: 9px;
}

/*# sourceMappingURL=style.css.map */
